body{
    font-family: 'Poppins', sans-serif;
}
.flex-display{
    display: flex;
}
.orange-text{
    color: orangered;
}
.big-font{
    font-size: 50px;
    font-weight: 700;
}
H2{
    font-size: 35PX;
}
.half-size{
    width: 70%;
    padding-left: 2%;
    margin-left: 5%; 
    margin-bottom: 200px;  
}
p{
    text-align: justify;
    color: gray;
}
.hire-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.shadow-box{
    box-shadow: 10px 10px 5px gray;
    padding-left: 10px;
    text-align: center;
}
#stack{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(180deg blue red);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(orange teal)
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}