body{
    font-family: 'Poppins', sans-serif;
}
.flex-display{
    display: flex;
}
.orange-text{
    color: orangered;
}
.big-font{
    font-size: 50px;
    font-weight: 700;
}
H2{
    font-size: 35PX;
}
.half-size{
    width: 70%;
    padding-left: 2%;
    margin-left: 5%;   
}
p{
    text-align: justify;
    color: gray;
}